@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #242424;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imgOm {
  width: 80rem;
  height: 35rem;
  border-radius: 5rem;
}

.pinkline {
  height: 3xp;
  border-color: #F746A1;
  width: 50rem;
}

.line {

  height: 3xp;
  border-color: #313131;
  width: 100rem;

  display: flex;
  justify-content: center;
  align-content: center;
}

.MainDiv {
  margin: 20px;
  background-color: #242424;
  display: flex;
  display: center;
  justify-content: space-between;
  padding: 10px;
}

.WhiteFont {
  color: #fff;
}

.Footer {
  background-color: #242424;
}

.Fatman {
  font-weight: bold;
  font-size: x-large;
}

.Text {
  font-size: large;
}

